h1 {
  color: blue;
  text-align: center;
}
h2 {
  color: green;
  font-style: italic;
  text-align: center;
}
p {
  font-family: sans-serif;
}
ul {
  list-style-position: outside;
  line-height: 40px;
  text-align: left;
}
ol {
  list-style-position: inside;
  text-align: center;
  line-height: 40px;
}
